<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <% @people.each do |person| %>
  <p>
    <div style="background-color:<%= person.colour %>; width:<%= person.weight %>px; height:<%= person.height %>px; text-align:center; color: white;"><%= person.name.capitalize %></div>
    <br><br>
  </p>
    <% end %>
</body>
</html>
